.section-index {


    .entry {
        padding: .75remï¼›

    }

    h5 {
        margin-bottom: 0;

        a {
            font-weight: 700;
        }
    }

    p {
        margin-top: 0;
    }
}
